#coin_icon_DISPLAY {
    img {
        width: 75px;
        height: 75px;
    }
}

#coin_rate_ch_DISPLAY {
    font-weight: bold;
}

.coin-stats {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.coin-stats-subtitle, .coin-stats {
    display: block;
    text-align: center;
}
.coin-stats-subtitle {
    font-size: 12px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 55%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
}

path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
}

.y.annotation.left path {
    fill: #00AA00;
}

.y.annotation.right path {
    fill: #FF0000;
}

.x.annotation path {
    fill: #DDD80E;
}

.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    stroke: #DDDDDD;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #DDDDDD;
}