/* Imports */
@import './bootstrap',
        './mixins';


/* Layout */
* {
    color: #484C63;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

html, body {
    background: #f5f6fa;
    margin: 0;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #E3E6EB;
    margin-bottom: 100px;
    padding: 20px;

    .brand {
        color: #FF5722;
        font-weight: 600;
        font-size: 16px;
    }
}

section {
    margin-bottom: 100px;
}

h1 {

}
h2 {
    text-align: center;
    line-height: 28px;
    font-size: 17px;
}
h3 {
    color: #FF5722;
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
}
p {
    line-height: 1.5;
}
a {

}
button {

}

.input-group {
    margin-bottom: 13px;
    position: relative;
}

input, select {
    background: #FFFFFF;
    border: 1px solid #E3E6EB;
    border-radius: 6px;
    color: #FF5722;
    display: block;
    font-size: 14px;
    margin-top: 5px;
    outline: none;
    padding: 8px 15px;
    width: 100%;

    &.large {
        padding: 20px 24px;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select + .dropdown {
    position: absolute;
    top: 34px;
    right: 30px;
    i {
        color: #8388A5;
    }
}

label {
    font-weight: 600;
    font-size: 12px;
}

table {
    tr {
        border-bottom: 1px solid #E3E6EB;

        &:first-of-type, &:last-of-type {
            border: none;
        }
    }
    th {
        color: #8388A5;
        font-weight: 600;
        text-align: left;
        font-size: 11px;
        padding: 0 0 20px;
    }
    td {
        padding: 10px 0;
    }
}


/* Theme */
.red {
    color: #f13456;
}
.green {
    color: #6ACD4E;
}

.widget-wrapper {
    background: #FFFFFF;
    border: 1px solid #E3E6EB;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 24px;
    
    @include box-shadow(0 0 28px 0 rgba(77, 91, 166, 0.06));
    @include transition(all 0.3s ease-in-out);
}

.position-summary {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    span {
        display: block;
    }

    .rate {
        text-transform: none;
        font-size: 12px;
        margin-bottom: 8px;
    }
    .profit {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .initial, .current {
        font-size: 12px;
        margin-bottom: 3px;
        text-transform: none;
    }
}

#faq {
    .faq-item {
        margin-bottom: 50px;
    }
}
